@import '../../colors';

.remedy-dropdown {
    border-radius: 4px;
    border: 1px solid rgb(118, 118, 118);
}

.remedy-dropdown::placeholder {
    color: $placeholder-grey;
}
.select-wrapper-container{
    position: relative;
    .remedy-dropdown{
      position: relative;
    }
    .input-required{
      position: absolute;
      border: 0;
      color: transparent;
      pointer-events: none;
      background-color: transparent;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      border: none;
    }
  }